# ignore:
~*
*.translation
\.import/
ivoyager_assets*/
export/

# ivbinary_maker source & export:
source_data/asteroids/
source_data/comets/
ivbinary_export/asteroid_binaries/
ivbinary_export/comets_binaries/
ivbinary_export/rings/

